

book-shelf {
    display: flex;
}

.book-template {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: dotted 1px black;
    border-radius: 5%;
    margin: 10px;
    width: 230px;
    height: 175px;
}

.title {
    margin: 0px 10px;
}

.author {
    margin: 0px 10px;
}

.mid-sub-container {
    display: flex;
    margin: 0px 10px;
    justify-content: space-between;
    align-items: center;
}

.pages {
    width: 40%;
}

.footer-buttons-container {
    display: flex;
    margin: 0px 10px;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 40%;
}