.master-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border: solid black 1px;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
}

.cell {
    display: inline-block;
    height: 32.5px;
    width: 32.5px;
    border: solid black 1px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

#reset-button {
    display: block;
    height: 25px;
    width: 160px;
    border: solid black 1px;
    border-radius: 5px;
    margin: 5px;
}

.disable-click {
    pointer-events: none;
    opacity: 50%;
}

players-info {
    display: block;
    padding: 5px;
}

input {
    pointer-events: none;
    width: 90px;
    height: 10px;
    border: 0px;
    border-radius: 5px;
}

game-status-display {
    display: block;
    height: 25px;
    width: 150px;
    border: solid black 1px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
