.cell {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 5px;
    margin: 5px;
    border: solid black 1px;
}

#reset-button {
    border: solid 2px black;
}

.disable-click {
    pointer-events:none;
    opacity: 50%;
}
